# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Continuous Integration

on:
  push:

jobs:
  build-test:
    runs-on: ubuntu-24.04
    name: Java ${{ matrix.java }} Test
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [ 8, 10, 11, 12, 13, 14]
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Get latest release tag
      id: latest_release
      run: |
        tag=$(curl -s https://api.github.com/repos/Staffbase/plugins-sdk-java/releases/latest | jq -r .tag_name)
        echo "tag_name=$tag" >> $GITHUB_OUTPUT

    - name: Build with Maven
      run: mvn -B package --file pom.xml -Drevision=${{ steps.latest_release.outputs.tag_name }}

    - name: Run UI tests
      run: make test
